{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taller mecanico</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{% static '/core/css/estilos.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#msg").hide();
        $("#msg2").hide();
        var urlBase = "https://www.metaweather.com/api/location/search/?lattlong=";
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                $("#msg2").append("Geolocation is not supported by this browser.");
                $("#msg2").show();
            }
        }) 
        function showPosition(position) {
            $("#mensajeLatLon").remove();
            $("#msg").append(`<div id="mensajeLatLon">Latitude: ${position.coords.latitude} <br> Longitude: ${position.coords.longitude}</div>`);
            $("#msg").show();
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            var urlFormatted = urlBase+lat+","+lon;
            $.get(urlFormatted,function(data){
            }).then(function(data){
                var id = data[0].woeid;
                var newUrl = "https://www.metaweather.com/api/location/"+id;
                $.get(newUrl,function(data){
                    var tempPromedio = data.consolidated_weather[0].the_temp;
                    var Icon = data.consolidated_weather[0].weather_state_abbr;
                    $("#mensajeLatLon").append( `<br><h4> La temperatura</h4> en ${data.title} es de ${tempPromedio} °C y esta <img src ="https://www.metaweather.com/static/img/weather/${Icon}.svg" style="width:32px">`);
                })
            })
        }
</script>
<header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <img src="{% static 'core/img/logo.jpg' %}" class="rounded" alt="Cinque Terre" width="125" height="125">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index.html"><button type="button" class="btn btn-danger">Inicio</button></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <button type="button" class="btn btn-danger">Trabajos Realizados</button>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% static 'core/img/cajas.jpg' %}">Cajas de cambios</li>
                      <li><a class="dropdown-item" href="./Electronica.html">Electronica</li>
                      <li><a class="dropdown-item" href="./Area de Suspencion y Direccion.html">Suspension y direccion</li>
                    </ul>
                  </li>
                  <a class="nav-link active" aria-current="page" href="./Formulario.html"><button type="button" class="btn btn-danger">Marcas Incluidas</button></a>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
      </div>
  </header>
<body>
    <div class="container">
      <div class="row">
          <div class="alert alert-primary mt-3" role="alert" id="msg">
          </div>
          <div class="alert alert-danger" role="alert" id="msg2">
          </div>
      </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="./Caja De Cambios.html">
                        <img src="{% static 'core/img/cajas.jpg' %}" class="d-block w-100" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>&Aacute;REA DE CAJA DE CAMBIO</h5>
                      <p>Mira aqu&iacute; los trabajos que realizamos</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="./Electronica.html">
                        <img src="{% static 'core/img/Electronica.jpg' %}" class="d-block w-100" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>&Aacute;REA DE ELECTRONICA </h5>
                      <p>Mira aqu&iacute; los trabajos que realizamos</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="./Area de Suspencion y Direccion.html">
                        <img src="{% static 'core/img/suspension.jpg' %}" class="d-block w-100" alt="...">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>&Aacute;REA DE SUSPENCIÓN Y DIRECCIÓN</h5>
                      <p>Mira aqu&iacute; los trabajos que realizamos</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer>Informaci&oacute;n de la empresa 
  <br>
  Correo: contactotaller@tallermakween.com
  <br>
  Instagram: TallerMecanicoRayoMakween.Chile
  <br>
  Fono:(2) 25674546
  <br>
  Direcci&oacute;n: AV,la Florida 666
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>